/* Colors */
$color-transparent: #00000000;
$color-primary: #fe5442;
$color-secondary: #007238;
$color-tertiary: #732e78;
$color-background1: #fff9e5;
$color-background2: #99d1ce;
$color-background3: #dad4ef;
$color-text: #000;

$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1536px;

$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

/* Fonts */
$font-heading: "DelaGothicOne", sans-serif;
$font-body: "Montserrat", sans-serif;

/* Font Sizes */
$font-size-paragraph: 24px;
$font-size-paragraph-sm: 16px;

$font-size-subheading: 18px;
$font-size-heading-xs: 18px;
$font-size-heading-sm: 32px;
$font-size-heading-md: 40px;
$font-size-heading-ld: 48px;

$font-size-btn-sm: 16px;
$font-size-btn-md: 18px;
$font-size-btn-lg: 22px;

/* Border radius */
$border-radius-xs: 0.25rem;
$border-radius-sm: 0.5rem;
$border-radius-md: 1rem;
$border-radius-lg: 2rem;
$border-radius-xl: 4rem;

/* Custom */
$header-height: 70px;
