@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: local("montserrat"),
    url("../../fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: local("montserrat"),
    url("../../fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "DelaGothicOne";
  font-weight: 700;
  src: local("DelaGothicOne"),
    url("../../fonts/DelaGothicOne-Regular.woff2") format("woff2");
}

:root {
  /* Colors */
  --color-transparent: #00000000;
  --color-primary: #fe5442;
  --color-secondary: #007238;
  --color-tertiary: #732e78;
  --color-background1: #fdf6bf;
  --color-background2: #99d1ce;
  --color-background3: #dad4ef;
  --color-text: #000;

  /* Fonts */
  --font-heading: "DelaGothicOne", sans-serif;
  --font-body: "Montserrat", sans-serif;

  /* Font Sizes */
  --font-size-paragraph: 24px;
  --font-size-subheading: 18px;
  --font-size-heading-small: 40px;
  --font-size-heading-medium: 56px;
  --font-size-heading-large: 56px;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* Border radius */
  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-lg: 2rem;
  --border-radius-xl: 4rem;

  /* Breakpoints */
  --breakpoint-xs: 0px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1536px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: black;
  background: $color-background1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: $font-body;
  line-height: 1.6rem;
  font-size: 1rem;
  @media screen and (min-width: $breakpoint-lg) {
    line-height: 2rem;
    font-size: 1.25rem;
  }
}

h2 {
  font-family: $font-heading;
  font-size: 2.25rem;

  @media screen and (min-width: $breakpoint-lg) {
    font-size: 3rem;
  }
}

h3 {
  font-family: $font-heading;
  font-size: 1.5rem;

  @include screen(lg) {
    font-size: 2rem;
  }
}

// remove default styling for <ul /> & <li />
.unstyled-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
    padding: 0;
  }
}
