.section {
  padding: $spacing-lg $spacing-md;
  background-color: $color-background1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include screen(lg) {
    padding: $spacing-xl $spacing-md;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing-lg;

    @include screen(lg) {
      gap: $spacing-xl;
    }
  }

  .title {
    color: $color-tertiary;
  }

  .activities {
    display: flex;
    justify-content: space-evenly;
    gap: $spacing-sm;

    @include screen(lg) {
      gap: $spacing-xl;
    }

    .activity {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: $spacing-sm;

      color: $color-tertiary;
      font-size: 0.5rem;
      text-align: center;
      font-weight: bold;

      @include screen(lg) {
        gap: $spacing-md;

        font-size: $font-size-paragraph-sm;
      }

      .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 80%;
        }
      }
    }
  }
}
