.container {
  padding: $spacing-lg $spacing-md;

  background-color: $color-background3;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $color-secondary;

  @include screen(lg) {
    padding: $spacing-xl $spacing-md;
  }

  .wrapper {
    flex-direction: column;
    gap: $spacing-lg;

    @include screen(lg) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include screen(lg) {
      width: 30%;

      flex-direction: column;
    }

    .icon {
      width: 6rem;
      height: auto;

      @include screen(lg) {
        width: 80%;
      }
    }
  }

  .content {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: $spacing-md;

    .description {
      width: 100%;
      display: flex;
    }

    .services {
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;

      color: $color-tertiary;

      @include screen(lg) {
        gap: $spacing-md;
      }
    }
  }
}
